
JOB_ADS/JOB_ADS/bin/JOB_ADS.dll.config
JOB_ADS/.vs/JOB_ADS/v16/.suo
JOB_ADS/JOB_ADS/Web.config
JOB_ADS/JOB_ADS/obj/Debug/edmxResourcesToEmbed/Models/Model.csdl
JOB_ADS/JOB_ADS/obj/Debug/edmxResourcesToEmbed/Models/Model.msl
JOB_ADS/JOB_ADS/obj/Debug/edmxResourcesToEmbed/Models/Model.ssdl
JOB_ADS/JOB_ADS/obj/Debug/edmxResourcesToEmbed/Models/Model.csdl
JOB_ADS/JOB_ADS/obj/Debug/edmxResourcesToEmbed/Models/Model.msl
JOB_ADS/.vs/JOB_ADS/config/applicationhost.config
JOB_ADS/JOB_ADS/bin/JOB_ADS.pdb
JOB_ADS/JOB_ADS/bin/JOB_ADS.dll.config
JOB_ADS/JOB_ADS/bin/JOB_ADS.dll
JOB_ADS/JOB_ADS/obj/Debug/edmxResourcesToEmbed/Models/Model.csdl
JOB_ADS/JOB_ADS/obj/Debug/edmxResourcesToEmbed/Models/Model.msl
JOB_ADS/JOB_ADS/obj/Debug/edmxResourcesToEmbed/Models/Model.ssdl
JOB_ADS/JOB_ADS/obj/Debug/JOB_ADS.dll
JOB_ADS/JOB_ADS/obj/Debug/JOB_ADS.pdb
JOB_ADS/JOB_ADS/obj/Debug/TempPE/Models.Model.cs.dll
JOB_ADS/JOB_ADS/obj/Debug/TempPE/Models.Model.Designer.cs.dll
JOB_ADS/JOB_ADS/Web.config
