
@{
    ViewBag.Title = "Login";
}
@Scripts.Render("~/AccountLogin/js")
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('../Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Login</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Log In</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-5">

            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Log In To ADS-JOB</h2>
                <form action="#" class="p-4 border rounded">

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Email</label><i style="color:red">**</i>
                            <input type="text" id="User" class="form-control" placeholder="Email address">
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Password</label><i style="color:red">**</i>
                            <input type="password" id="Pass" class="form-control" placeholder="Password">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4">
                            <a href="#" id="Login" class="btn btn-block btn-primary btn-md"><span class="icon-security mr-2"></span>Login</a>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-3 mb-5">

            </div>
        </div>
    </div>
</section>


