@{
    ViewBag.Title = "CandidatesDetail";
}
@Scripts.Render("~/CandidatesDetail/js")
<section class="section-hero overlay inner-page bg-image" style="background-image: url('../Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">นัดหมายผู้สมัคร</h1>
                <div class="custom-breadcrumbs">
                    <a href="~/Home/Index">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>นัดหมายผู้สมัคร</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row">


            <div class="col-md-4 mb-4 mb-md-0">
                <label class="text-black" for="fname">ชื่อ</label>
                <input type="text" id="Name" class="form-control">
            </div>


            <div class="col-md-3 mb-3 mb-md-0">
                <label class="text-black" for="fname">เบอร์โทร</label>
                <input type="text" id="Tel" class="form-control">
            </div>


            <div class="col-md-3 mb-3 mb-md-0">
                <label class="text-black" for="fname">E-Mail</label>
                <input type="text" id="Mail" class="form-control">
            </div>

            <div class="col-md-4 mb-4">
                <label class="text-black" for="fname">ตำแหน่ง</label>
                <input type="text" id="Position" class="form-control">
            </div>

            <div class="col-md-4 mb-4">
                <label class="text-black" for="fname">วันที่นัด</label>
                <input type="datetime-local" data-role="calendarpicker" data-calendar-wide-point="md" class="form-control">
            </div>
            <div class="col-md-4 mb-4">

            </div>
            <div class="col-md-5 mb-5">

            </div>

            <div class="col-md-2 mb-2">
                <a id="SaveCanDetail" class="btn btn-primary border-width-2 d-none d-lg-inline-block">OK</a>
                <a id="Clear" class="btn btn-secondary border-width-2 d-none d-lg-inline-block">Clear</a>
            </div>
            <div class="col-md-5 mb-5">

            </div>


        </div>
    </div>
</section>

