@{
    ViewBag.Title = "FindByDepart";
}
@Scripts.Render("~/FindByDepart/js")

<section class="section-hero overlay inner-page bg-image" style="background-image: url('../Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Find By Department</h1>
                <div class="custom-breadcrumbs">
                    <a href="~/Home/Index">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Find By Department</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-depart mb-2">แผนก @ViewBag.JobDepart.Department_Name</h2>
            </div>
        </div>
        <ul class="job-listings mb-5">



            @if (ViewBag.JobRegis != null)
            {
                int counter = 1;
                foreach (var RegisJob in ViewBag.JobRegis)
                {
                    <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">


                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                            <div class="job-listing-position custom-width w-10 mb-3 mb-sm-0">
                                <h2>@counter</h2>
                            </div>
                            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                <h2>@RegisJob.position</h2>
                            </div>
                            <div class="job-listing-location custom-width w-40 mb-3 mb-sm-0 ">
                                <span class="icon-check" style="color:green"> จำนวน:@RegisJob.number </span><br />
                            </div>
                            <div class="job-checkbox-select  mb-3 mb-sm-0 custom-width w-10">
                                <input type="checkbox" id="CB1">
                            </div>
                        </div>
                    </li>

                    counter = counter + 1;
                }
            }

        </ul>
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <button id="Search_Job" class="btn btn-primary border-width-2 d-none d-lg-inline-block">OK</button>
                <button id="Clear" class="btn btn-secondary border-width-2 d-none d-lg-inline-block">Clear</button>
            </div>
        </div>
    </div>
</section>

